@use 'variables' as v;

// Contenedor centrado
@mixin container {
  max-width: v.$container-width;
  margin: 0 auto;
  padding: 0 20px;
}

// Mixin responsive con breakpoint por nombre
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }

  @else if $breakpoint == tablet {
    @media (max-width: 900px) {
      @content;
    }
  }
}
